<footer>
    <div id="footer-div">
        <div>
            @Copyright Rj
        </div>

        <div>

            <span>
                <a href="/">Home</a>
            </span>

            <span>
                <a href="#profile">Profile</a>
            </span>

        </div>
    </div>
</footer>