<header>
        <div id="header-div">

            <div id="topic">
                <a href="/">forial</a>
            </div>

            <% if(locals.user){%>
                <div>
                    <%= user.name %>
                </div>
                <div>
                    <%= user.email %>
                </div>
                <div>
                    <a href="/users/signout">Sign Out</a>
                </div>

                <%} else {%>

                    <div id="signup">
                        <a href="/users/signup">Sign Up</a>
                    </div>

                    <div>
                        <a href="/users/signin">Sign In</a>
                    </div>

                    <% } %>
            </div>
</header>