<link rel='stylesheet' type='text/css' href='/css/sign.css'>

<form action="/users/create_session" method="post">
    <fieldset>
        <legend><h1>Sign In Page</h1></legend>
    <div>
        <label name="email">Email</label>
        <input type="email" name="email" placeholder="Your Email">
    </div>

    <div>
        <label name="password">Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    
    <input type="submit" value="Login">
    </fieldset>
</form>