<link rel='stylesheet' type='text/css' href='/css/sign.css'>

<form action="/users/create" method="post">
    <fieldset>
        <legend>
            <h1>Sign Up Page</h1>
        </legend>

        <div>
            <label name="name">Name</label>
            <input type="text" name="name" required placeholder="Your Name">
        </div>

        <div>
            <label name="email">Email</label>
            <input type="email" name="email" required placeholder="Your Email">
        </div>

        <div>
            <label name="password">Confirm Password</label>
            <input type="password" name="password" required placeholder="Password">
        </div>

        <div>
            <label name="password">Password</label>
            <input type="password" name="confirm-password" required placeholder="Confirm Password">
        </div>

        <input type="submit" value="Sign Up">
    </fieldset>
</form>

